body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 300px 1fr;
    height: 100vh;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, p {
    margin: 0;
    padding: 0;
}

.sidebar {
    background-color: #707070;
    height: 100vh;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 3px solid black;
}

.form-title {
    margin-top: 20px;
    margin-bottom: 40px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 20px;
}

input[type=text], input[type=number] {
    border: none;
    border-radius: 8px;
    background-color: whitesmoke;
    padding: 5px 5px;
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
}

input:invalid {
    border: 4px solid red;
}

.read-radio{
    margin-top: 10px;
}

.read-radio > label {
    font-size: 16px;
}

.add-book-btn {
    padding: 8px;
    border-radius: 8px;
    width: 75%;
    align-self: center;
    background-color: #8A9A5B;
    border: none;
    color: whitesmoke;
    margin-top: 30px;
    font-size: 16px;
}

form > button:hover {
    background-color: #2E8B57;
}

button:hover {
    cursor: pointer;
}

.library {
    background-color: #F9F6EE;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fill, 150px);
    gap: 20px;
    padding: 20px;
    overflow: scroll;
}

.book-card {
    border-left: 10px solid #8A9A5B;
    border-radius: 8px;
    height: 150px;
    background-color: #e4e4e4;
    display: grid;
    grid-template-columns: 5fr 1fr;
}

.book-info{
    padding: 10px;
}

.card-text{
    margin-bottom: 5px;
}

.delete {
    margin-bottom: 10px;
    margin-right: 10px;
    height: 30px;
    border-radius: 8px;
    align-self: end;
    background-color: red;
    color: white;
    border: none;
}